body{
    background-image: url(../imagem/fundo\ do\ site.jpg);
    font-size: 120%;
    padding: 0;
    margin: 0;
    color: black;
}


.menu ul {
    padding:0px;
    margin:auto;
    background-color:orange;
    list-style:none;
    display: table;
    height: 100%; 
    text-align: center;
    width: 100%;
}

.menu ul li { 
    display: inline-block;
}

.menu ul li a {
    padding: 10px 20px;
    display: inline-block;
    background-color:orange;
    color: whitesmoke;
    text-decoration: none;
    border-bottom:3px solid orange;
}

.menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.rodape {
    background: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:white;
    text-align: center;
    height: 40px;
}
.left {
text-align: left;
display: absolute;
}

.right {
    text-align: right;
    display: absolute;
    margin-top: -23px;
}

h1 {
    text-align: center;
}

.itemMenu img{
    float: left;
}
