body{
    background-image:url("fundo do site.jpg");
    font-size: 120%;
    padding: 0;
    margin: 0;
}


.menu ul {
    padding:0px;
    margin:0px;
    background-color:black;
    list-style:none;
    display: block;
    height: 100%; 
    text-align: center;
}

.menu ul li { 
    display: inline;
}

.menu ul li a {
    padding: 25px 10px;
    display: inline-block;

    background-color:black;
    color: rgb(201, 169, 28);
    text-decoration: none;
    border-bottom:3px solid black;
}

.menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.rodape {
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:rgb(201, 169, 28);
    text-align: center;
    height: 50px;
}
.left {
text-align: left
}

.right {
    text-align: right
}

h1 {
    text-align: center;
}